// -----------------------------------------------------------------------------
// This file contains all styles related to the content of the site/application.
// -----------------------------------------------------------------------------
#concept {
    padding: 20rem 0;
    h2 {
        border: 2rem solid $pastel-red;
        border-radius: 1rem;
        opacity: 0.7;
        font-size: 2.5rem;
    }
}

#instagram {
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 5vw);
        grid-gap: 1rem;
    }
    .insta__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .insta__item {
        position: relative;
        &--1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        &--2 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        &--3 {
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        &--4 {
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 6;
        }
        &--5 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 6;
        }
        &--6 {
            grid-column-start: 4;
            grid-row-start: 4;
        }
    }
}

#menu {
    padding-top: 10rem;
    #lunch,
    #dinner,
    #cake {
        padding: 5rem 0;
        h2 {
            background-color: $pastel-red;
            color: white;
            line-height: 3rem;
        }
    }
    #cake {
        h2 {
            margin-bottom: 2rem;
        }
        .card-header {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
}

#reserve {
    padding: 5rem 0;
    h2 {
        background-color: rgba($color: $light_grey, $alpha: .7);
        padding: 2rem;
        border-radius: 1rem;
    }
    .btn-primary {
        background-color: $pastel-red;
        border: none;
    }
}

#warning {
    padding: 3rem 0;
    border-color: $pastel-red !important;
    h3 {
        font-size: 2.4rem;
        background-color: rgba($color: $light_grey, $alpha: 1.0);
    }
    h4 {
        font-size: 2rem;
        letter-spacing: .1rem;
        &:before {
            content: "※";
        }
    }
}